* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5ms;
  transition: all 0.5ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

body {
  background-color: #b68787;
}

.hidden {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container .button {
  background-color: #fff;
  border: #fff;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  text-align: center;
  line-height: 1;
}

.container .button-ings {
  margin-bottom: 15px;
}

.container .header {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  text-align: center;
  padding: 5px 25px;
  min-height: 35px;
  background-color: #fed756;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.container .header-hidden {
  top: -100px;
}

.container .header_buttons_and_inputs {
  border-radius: 25%;
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header-input {
  padding-left: 0.2rem;
  max-width: 115px;
}

.container .header-region {
  margin-right: 15px;
  cursor: pointer;
}

.container .header-button {
  background-color: #fff;
  margin-right: 10px;
}

.container .header-icon {
  height: 15px;
}

.container .header_logo-text {
  cursor: pointer;
  font-size: 30px;
  color: #656565;
}

.container .main {
  text-align: center;
  padding: 45px 30px 0;
  background-color: #f8e6cb;
}

.container .main .welcome-header {
  margin: 50px 0 30px;
}

.container .main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
  padding: 25px 0;
  margin: 0 auto;
}

.container .main .list .li {
  background-color: rgba(255, 255, 255, 0.514);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  margin: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 400px;
  width: 250px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .main .list .li-title {
  margin-left: 12px;
  margin-bottom: 15px;
  min-height: 40px;
}

.container .main .list .li-fullscreen {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #f0fffc;
}

.container .main .list .li-content {
  max-width: 310px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .list .li-content-img {
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 25px;
}

.container .main .list .li-content .button-ings {
  font-size: 1.2rem;
}

.container .main .list .li-content-ings {
  max-width: 350px;
  margin-bottom: 10px;
  text-align: left;
}

.container .main .list .li .button-favs {
  background-color: rgba(255, 255, 255, 0.834);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container .main #favs {
  background-color: antiquewhite;
}

@media (max-width: 1080px) {
  #main {
    padding: 10px 10px 0;
  }
}

@media (max-width: 690px) {
  #main {
    padding: 10px 10px 0;
  }
  .li-title {
    font-size: 1.5rem;
  }
  .list .li {
    padding: 0;
    min-width: 100%;
  }
  .button-favs {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@media (max-width: 535px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .welcome-header {
    margin: 100px 0 30px !important;
  }
  #header_logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 5px;
  }
  .header_buttons_and_inputs {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .button-favs {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}
/*# sourceMappingURL=style.css.map */